<head>
  <!--Import Google Icon Font-->
  <!--Import materialize.css-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
  <script src="bootstrap-editable/js/bootstrap-editable.js"></script>
</head>

  <template name="profile">

    <nav>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav-wrapper teal">
          <span class="flow-text">&nbsp;&nbsp;&nbsp;EVSD</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                  <li>
                    <a class="btn" href="{{pathFor route='home'}}"> Home</a>
                  </li>
                  <li>
                    <a class="btn" href="{{pathFor route='tournamentregistration'}}"> Tournament Registration</a>
                  </li>
                  <li>
                    <a class="btn" href="{{pathFor route='logout'}}"> Logout</a>
                  </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <br><br>
    <div class="main center">
           <img class="prof" src="http://www.healthsciences.vcu.edu/media/ovphs/ipe/images/profiles/placeholder-man.png">
           <h3 class=""><span>
            {{currentUser.profile.firstName}}
          </span><span>{{currentUser.profile.lastName}}</span></h3>
           <h5>Personal email:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="username" placeholder="Update email"}}
            {{/with}}
           </div>
           <h5>Date of Birth:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.DOB" placeholder="Update"}}

            {{/with}}
           </div>
           <h5>Student Grade:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.studentGrade" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>Student Phone Number:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.studentPhoneNo" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>Student ID:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.studentId" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>Facebook Account:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.facebookAccount" placeholder="Update"}}
            {{/with}}
          </div>
          <h5>Facebook EVSD:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.facebookEvsd" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>First Parent:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.firstParent" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>How did you find out:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.findout" placeholder="Update"}}
            {{/with}}
           </div>
           <h5>Why did you join:</h5>
           <div class="chip" style="margin-bottom:10px;background-color:#2980b9;color:white;">
             {{#with currentUser}}
              {{> editableText collection="users" field="profile.whyjoin" placeholder="Update"}}
            {{/with}}
           </div>


       </div>
  </template>
